body {
  padding: 10px;
}

#contacts {
  position: absolute;
  left: 0;
  width: 25%;
  height:inherit;
}

#messageBlock {
  position: absolute;
  right: 0;
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#search-results {
  width: 280px;
  max-height: 200px;
  border: 1px solid #dedede;
  border-radius: 3px;
  box-sizing: border-box;
  overflow-y: auto;
}

.search-result {
  background: white;
  padding: 10px;
}

input {
  width: 280px;
  height: 40px;
  color: #333;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 3px;
  box-sizing: border-box;
}
  .search-result:nth-child(even) {
    background: #fafafa;
  }


  /*---------------------------ccscs-----------------------------------*/
/*.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#space {
  display: block;
  z-index: 99;
  margin-top: 10%;
}

#wrapper {
  z-index: 100;
}

.darkness {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.6;
}


input {
  margin-left: 10%;
  display: flex;
  clear: both;
  text-align: left;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
}

.buttonSpace {
  display: inline-block;
  margin-left: 10%;
  width: auto;
  height: auto;
}



label {
  float: left;
  padding-right: 10px;
}*/
