<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
   
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a  class="nav-item nav-link active">Skype</a>
        <a  class="nav-item nav-link">Contact</a>
        <a  class="nav-item nav-link">Connection</a>
        <a  class="nav-item nav-link disabled" tabindex="-1">Reports</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a href="https://localhost:5001/login" class="nav-item nav-link">Logout</a>
      </div>
    </div>
  </nav>
</div>
<div id="global">
  <!------------------------------------------contacts block------------------------------------------->

  <div id="contacts">
    <div class="container">
      <!------------------------------------------search------------------------------------------->
      <!--<input type="text" placeholder="Search" ng-model="search" ng-focus="focus=true">
      <div id="search-results" ng-show="focus">
        <div class="search-result" ng-repeat="item in data | search:search" ng-bind="item" ng-click="setQuery(item)"></div>
      </div>-->
      <div class="card-header">
        <div class="input-group" >
          <input type="text" placeholder="Search..." name="" #search>
          <button (click)="tryToSearch(search.value)">Search</button>
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="contacts.length > 0">
        <div *ngFor="let contact of contacts">
          <div (click)="sendRequest(contact.nickName)" class="search-result">{{contact.nickName}}</div>
        </div>
      </div>
      <!------------------------------------------search------------------------------------------->
      <div class="container"><h2>_______________________________________</h2></div>
      <div id="exTab3" class="container">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#1b" data-toggle="tab">Contacts</a>
          </li>
          <li>
            <a href="#2b" data-toggle="tab">Chats</a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1b">
            <h3>Contact1</h3>
          </div>
          <div class="tab-pane active" id="1b">
            <h3>Contact2</h3>
          </div>
          <div class="tab-pane" id="2b">
            <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
          </div>
        </div>
      </div>

      <!--<ul class="nav nav-pills">
    <li class="active"><a href="#">Contacts</a></li>
    <li><a href="#">Chats</a></li>
  </ul>-->
    </div>
  </div>
  <!------------------------------------------conacts block------------------------------------------->
  <!------------------------------------------from app------------------------------------------->
  <div id="messageBlock">
    <div id="main-container" style="text-align:center">

      <div class="container">
        <h2>Hello {{hello}}!</h2>
        <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
          <div>
            <label for="message">Message</label>
            <input type="text" id="message" name="message" [(ngModel)]="message" required>
          </div>
          <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
            Send
          </button>
        </form>
      </div>

      <div class="container" *ngIf="messages.length > 0">
        <div *ngFor="let message of messages">
          <div>{{message}}</div>
        </div>
      </div>

    </div>
  </div>
  <!------------------------------------------from app------------------------------------------->
</div>
