<div class="page-header">
  <h1> Login page </h1>
</div>

<div class="loginForm">
  <div class="container">
    
    <div id="exTab3" class="container">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#1b" data-toggle="tab">Login</a>
        </li>
        <li>
          <a href="#2b" data-toggle="tab">Join</a>
        </li>
      </ul>

      <div class="tab-content clearfix" style="background-color:white">
        <div class="tab-pane active" id="1b">
          <input id="login" type="text" placeholder="login" #loginInput />
          <input id="password " type="text" placeholder="password" #passwordInput />
          <div style="display:block">
            <button (click)="loginUser(loginInput.value, passwordInput.value)">Login</button>
            <button>Cancel</button>
          </div>
         </div>
          <div class="tab-pane" id="2b">
            <input type="text" placeholder="login" #loginRegister />
            <input type="text" placeholder="password" #passwordRegister />
            <input type="text" placeholder="repeat password" #passwordRepeatRegister />
            <div style="display:block">
              <button (click)="registerUser(loginRegister.value, passwordRegister.value, passwordRepeatRegister.value)">Register</button>
              <button>Cancel</button>
            </div>
          </div>
        </div>
      </div>
   
  </div>
    

      <!--<input id="login" type="text" placeholder="login" #loginInput />
      <input id="password " type="text" placeholder="password" #passwordInput />
      <div style="display:block">
        <button (click)="checkUser(loginInput.value, passwordInput.value)">Login</button>
        <button>Cancel</button>
      </div>

  

      <input type="text" placeholder="login" #loginInput />
      <input type="text" placeholder="password" #passwordInput/>
      <input type="text" placeholder="repeat password" #passwordRepeatInput/>
      <div style="display:block">
        <button (click)="registerUser(loginInput.value, passwordInput.value, passwordRepeatInput.value)">Login</button>
        <button>Cancel</button>
      </div>-->
  

  
  <div id="validation">{{reportMessage}}</div>
</div>

<!--<script>
  function openCity(evt, formName) {
  
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(formName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>-->
