@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
  
}
.loginForm {
  margin: 20% 25% 25% 25%;
  width: 20%;
  height: 30%;
}

   input {
    display: block;
  }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
